{% extends 'base.html' %}

{% block title %}
    aboutpage
{% endblock %}

{% block body_txt %}
<h2><u>About</u></h2>
    <br>
    <p><b>Accepted Format is:</b></p>
    <a>x/x/xx: 00:00am - 00:00pm txt...</a>
    <br>
    <br>
    <p>1.) First of all my code checks hard-coded "Time Log:" and if it's missing or <br/>spelled wrong than my code throws Massage that "This is not Time Log file." </p>
    <br>
    <p>2.) After Getting hard-coded Time Log my code will calculate the total time.</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p class="w3-center" id="about">Powered by <a class="w3-hover-text-green">| Rikul Joshi</a></p>
  <p class="w3-center" id="about">CSU ID <a class="w3-hover-text-green">| 2812108</a></p>
{% endblock %}