<!DOCTYPE html>
<html>
    {% block style %}
    {% endblock %}
<title>
    {% block title %}
    {% endblock %}
</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">



<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content w3-dark-grey" style="max-width:100%">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="{{ url_for('home_page')}}" class="w3-left w3-button w3-dark-grey">TimeParser</a>
    <a href="{{ url_for('about_page')}}" class="w3-left w3-button w3-dark-grey">About</a>
  </header>
</div>
<!-- End Page Content -->

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
    {% block body_txt %}
    {% endblock %}

</footer>

</body>
</html>
